<div>
  <main>  
    <div class="slide_prir">
      <div
        class="slide_pri active"
        style="
          background-image: url('https://images.unsplash.com/photo-1503387762-592deb58ef4e?auto=format&fit=crop&w=1950&q=80');
        "
      ></div>
      <div
        class="slide_pri"
        style="
          background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?auto=format&fit=crop&w=1950&q=80');
        "
      ></div>
      <div
        class="slide_pri"
        style="
          background-image: url('https://images.unsplash.com/photo-1521790797524-b2497295b8a0?auto=format&fit=crop&w=1950&q=80');
        "
      ></div>

      <div class="overlay"></div>

      <div class="content">
        <h1 class="typewriter title" id="typewriter"></h1>
        <p>Projetos inovadores com tecnologia e sustentabilidade.</p>

        <div class="hero__caption">
          <p data-animation="fadeInLeft" data-delay="0.4s">
            Da concepção à execução
          </p>
          <a
            href="#"
            class="btn hero-btn"
            data-animation="fadeInLeft"
            data-delay="0.7s"
            >Saber mais <i class="ti-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>

    
    <section class="hero_sobre section-padding40">
        <h1 class="title">A TODASIL</h1>

        <div class="content_sobre">
            <div class="image-box">
                <img src="assets/img/gallery/about.JPG" alt="Criança africana sorrindo">
            </div>

            <div class="text-box">
              
                <h2 class="underline">Inovar para avançar</h2>
                <h2 class="underline2">Avançar para transformar</h2>

                <p>
                 A ATODASIL tem consolidado ao longo dos anos um desempenho sólido e inovador, tornando-se uma referência na oferta de soluções <strong>elétricas, mecânicas e industriais de alta qualidade em Angola. </strong>
                </p>

                <a href="#" class="link">LER MAIS</a>
            </div>
        </div>
    </section>

    <!--? About 1 Start-->
    <section class="about-low-area section-padding40">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-6 col-lg-6 col-md-10">
            <div class="about-caption mb-50">
              <!-- Section Tittle -->
              <div class="section-tittle mb-35">
                <span class="element">Sobre Nós</span>
                <h2>Do simples ao complexo, a solução está na ATODASIL.</h2>
              </div>
              <p>
                Somos uma empresa angolana dedicada à comercialização de bens e
                à prestação de serviços tecnológicos de alta qualidade. Atuamos
                com foco em soluções elétricas, mecânicas e industriais,
                comprometidos com a excelência e a entrega de resultados
                concretos. Criada com o objetivo de atender clientes
                corporativos e particulares, a ATODASIL pauta-se pela inovação,
                eficiência e satisfação do cliente, acreditando que um cliente
                satisfeito é a base para alcançar muitos outros.
              </p>
            </div>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-9 offset-md-1 offset-sm-1">
            <div class="about-right-cap">
              <div class="about-right-img">
                <img src="assets/img/gallery/about.JPG" alt="" />
              </div>
              <div class="img-cap">
                <span>+10</span>
                <p>Anos de experiência</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About  End-->
    <!--? Gallery Area Start -->
    <div class="gallery-area">
      <div class="container-fluid p-0 fix">
        <div class="row no-gutters">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-gallery text-center">
              <div
                class="gallery-img"
                style="background-image: url(assets/img/gallery/gallery02.png)"
              ></div>
              <div class="thumb-content-box">
                <div class="thumb-content">
                  <h3>Servicos informatico</h3>
                  <p>
                    Instalação de Sistemas de Câmeras de Segurança (CCTV) <br />
                    Instalação de Redes Estruturada <br />
                    Reparação & Manutenção de Computadores <br />
                    Impressora e Fotocopiadora
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-gallery text-center">
              <div
                class="gallery-img"
                style="background-image: url(assets/img/gallery/gallery01.png)"
              ></div>
              <div class="thumb-content-box">
                <div class="thumb-content">
                  <h3>Serviços Industrial</h3>
                  <p>
                    Automação Industrial <br />
                    Instrumentação Industrial <br />
                    Montagem de máquinas industriais<br />
                    Manutenção Mecânica <br />
                    Manutenção Mecânica
                  </p>

                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-gallery text-center">
              <div
                class="gallery-img"
                style="background-image: url(assets/img/gallery/gallery3.png)"
              ></div>
              <div class="thumb-content-box">
                <div class="thumb-content">
                  <h3>COMÉRCIO DE PRODUTOS</h3>
                  <p>
                    Comercializamos uma ampla gama de materiais e equipamentos
                    elétricos e informatico de alta qualidade, atendendo às
                    exigências do setor industrial e comercial.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Gallery Area End -->

    <!-- Services Area End -->
    <!-- Want To work -->
    <section class="wantToWork-area gray-bg">
      <div class="container">
        <div class="wants-wrapper w-padding2">
          <div class="row align-items-center justify-content-between">
            <div class="col-xl-8 col-lg-9 col-md-8">
              <div class="wantToWork-caption wantToWork-caption2">
                <h2 style="color: #e69130">Nosso compromisso</h2>
                <p>
                  é focarnos resultados e na satisfação dos nossos clientes,
                  acreditando que um cliente satisfeito é a base para alcançar
                  muitos outros
                </p>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4">
              <a href="#" class="btn w-btn wantToWork-btn"
                >Saber mais<i class="ti-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Want To work End -->
    <!-- Contact form Start -->
    <div class="contact-form testimonial-area  ">
      <div class=" ">
        <!-- Section Tittle -->
     
        <div class="row no-gutters">
          <div class="col-lg-6 col-md-12">
            <!-- galary -->
            <div class="single-gallery">
              <div
                class="gallery-img"
                style="background-image: url(assets/img/gallery/gallery2.png)"
              ></div>
              <div class="thumb-content-box">
                <div class="thumb-content">
                  <h3>
                    <a href="#"
                      >Por Que Nos <br />
                      Escolher?</a
                    >
                  </h3>
                  <p>
                    Escolher a ATODASIL é optar por confiança, eficiência e
                    compromisso com a excelência.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <!-- Testimonial Start -->
            <div class=" ">
              <!-- Single Testimonial -->
              <div class="single-testimonial">
                <div class="testimonial-caption">
                  <p>
                    Na ATODASIL, colocamos o cliente no centro de tudo o que
                    fazemos. A nossa experiência e versatilidade em diversas
                    áreas permitem-nos oferecer soluções integradas, com elevado
                    padrão de qualidade e atenção aos detalhes.
                    <br />
                    Trabalhamos com rigor e responsabilidade, cumprindo prazos e
                    superando expectativas.
                  </p>

                  <p>
                    Valorizamos a sustentabilidade e adaptamos os nossos
                    serviços às necessidades específicas de cada cliente,
                    garantindo um atendimento personalizado e resultados
                    duradouros.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact form End -->
    <!--? Blog Area Start -->
    <section class="home-blog-area pb-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="section-tittle mb-100">
              <span class="element">Angola</span>
              <h2>Vantagem Competitiva Nacional</h2>
              <p>
                Nossa vantagem competitiva está na abrangência nacional dos
                nossos serviços — atuamos em todo o território angolano, com
                equipas técnicas preparadas para atender projetos de diferentes
                dimensões e complexidades, garantindo rapidez, confiança e
                resultados consistentes.
              </p>

              <p>
                Assim, a ATODASIL consolida-se como uma referência nacional em
                soluções tecnológicas completas, contribuindo para o
                desenvolvimento e modernização de Angola.
              </p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="home-blog-single mb-30">
              <div class="blog-img-cap">
                <div class="blog-img">
                  <img src="assets/img/gallery/mapa.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog Area End -->
    <!--?  Map Area start  -->

    <section class="marca">
      <h2>NOSSOS CLIENTES</h2>
      <div class="slider-container">
        <div class="slider" id="slider">
          <div class="slide">
            <img src="assets/img/parceiros/logo1.png" alt="Cliente 1" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo3.jpg" alt="Cliente 2" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo2.png" alt="Cliente 3" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo4.png" alt="Cliente 4" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo5.png" alt="Cliente 5" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo6.png" alt="Cliente 6" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo7.jpg" alt="Cliente 7" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo8.png" alt="Cliente 8" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo9.png" alt="Cliente 9" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo10.png" alt="Cliente 10" />
          </div>
          <!-- Clones para efeito infinito -->

          <div class="slide">
            <img src="assets/img/parceiros/logo1.png" alt="Cliente 1" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo3.jpg" alt="Cliente 2" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo2.png" alt="Cliente 3" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo4.png" alt="Cliente 4" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo5.png" alt="Cliente 5" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo6.png" alt="Cliente 6" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo7.jpg" alt="Cliente 7" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo8.png" alt="Cliente 8" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo9.png" alt="Cliente 9" />
          </div>
          <div class="slide">
            <img src="assets/img/parceiros/logo10.png" alt="Cliente 10" />
          </div>
        </div>
      </div>
    </section>

    <!-- Map Area End -->
    <!-- Want To work 2-->
    <section class="wantToWork-area">
      <div class="container">
        <div class="wants-wrapper w-padding3">
          <div class="row align-items-center justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-3">
              <div class="wantToWork-caption wantToWork-caption2">
                <div class="logo">
                  <img src="assets/img/logo/logo.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8">
              <div class="double-btn f-right">
                <a href="#" class="btn w-btn wantToWork-btn mr-20"
                  >Learn More <i class="ti-arrow-right"></i
                ></a>
                <a href="#" class="btn2 w-btn wantToWork-btn"
                  >Learn More <i class="ti-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Want To work End 2-->
  </main>
</div>
