<div>
  <!-- MAIN -->


  <!-- AREA DO MODAL DOS SERVICO EM PDF -->
  <div class="servicos">
    <div class="lbox jlsrow" id="importacao">

      <div class="btn2">
        <a href="#/servicos" id="close"> <i class="icon-sli-close text-size-40 text-red"></i></a>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="tamanhoCard">

          <div v-if="importacao === 'importacao0'">
            <iframe src="assets/doc/importacao.pdf" class="box-pdf" style="border: none;"></iframe>
          </div>

        </div>

      </div>
    </div>


    <div class="lbox jlsrow" id="exportacao">

      <div class="btn2">
        <a href="#/servicos" id="close"> <i class="icon-sli-close text-size-40 text-red"></i></a>
      </div>

      <div class="col-lg-12 col-md-12">

        <div class="tamanhoCard">

          <div v-if="exportacao === 'exportacao0'">
            <iframe src="assets/doc/exportacao.pdf" class="box-pdf" style="border: none;"></iframe>
          </div>
        </div>
      </div>

    </div>


    <div class="lbox jlsrow" id="bordagem">
      <div class="btn2">
        <a href="#/servicos" id="close"> <i class="icon-sli-close text-size-40 text-red"></i></a>
      </div>
      <div class="col-lg-12 col-md-12">

        <div class="tamanhoCard">

          <div v-if="bordagem === 'bordagem0'">
            <iframe src="assets/doc/bordagem.pdf" class="box-pdf" style="border: none;"></iframe>
          </div>

        </div>
      </div>
    </div>
  </div>
 


<main role="main">
  <!-- TOP SECTION -->
  <header class="grid">
    <div class="s-12 padding-2x">
      <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">NOSSOS SERVIÇOS
      </h1>
      <p class="text-size-20 text-white text-center center text-uppercase">
        Cada cliente é a nossa prioridade, contamos com uma equipa de colaboradores que garante Soluções imediatas,
        eficazes e a baixo custo. A nossa experiência com cobertura internacional, garante-nos facilidade e rapidez no
        desembarque aduaneiro.</p>
    </div>
  </header>



  <!-- SECTION 1 -->
  <section class="grid">
    <div class="m-12 l-7 padding-2x background-white">
      <p class="text-strong text-size-80 text-red">01</p>

      <h2 class="text-size-50 text-line-height-1 text-dark"><b>IMPORTAÇÕES</b></h2>

      <p>Garantimos uma importação precisa de uma assessoria com responsabilidade e planejamento fornecendo as melhores
        opções de importação e nacionalizar a carga, escapando ao peso da carga tributária e da oscilação do dólar..</p>
      <p>A importação pode significar a diferença fundamental entre sua empresa e as concorrentes. Por meio das
        importações, seus negócios alcançam os mercados mais dinâmicos do mundo, obtendo os melhores recursos para
        elevar a competitividade dos seus negócios. </p>

      <div class="s-12 padding-2x ">
        <a href="#importacao" class="s-12 m-9   center button text-size-20 text-white background-red">BAIXAR DOCUMNETO
          DE NORMAS</a>
      </div>
    </div>

    <!-- Image-->
    <img class="m-12 l-5" src="assets/img/servicos-01.jpg">
  </section>

  <!-- SECTION 2 -->
  <section class="grid">
    <!-- Image-->
    <img class="m-12 l-5" src="assets/img/servicos-02.jpg">

    <div class="m-12 l-7 padding-2x background-dark">
      <p class="text-strong text-size-80 text-red">02</p>

      <h2 class="text-size-50 text-line-height-1 margin-bottom-30 text-white"><b>EXPORTAÇÕES</b></h2>

      <p>"A exportação refere-se à venda, envio ou doação de produtos, bens e serviços de um país a outro. É, portanto,
        a saída de uma mercadoria ou serviço nacional para outro país.</p>

      <h5 class="text-strong text-size-15 text-line-height-1 padding">"Vantagens" </h5>

      <ul>
        <li>Preços atrativos</li>
        <li>Tecnologia de ponta</li>
        <li>Fornecedores competitivos</li>
      </ul>
      <div class="s-12 padding">
        <a href="#exportacao" class="s-12 m-9   center button text-size-20 text-white background-red">BAIXAR DOCUMNETO
          DE NORMAS</a>
      </div>
    </div>
  </section>

  <!-- SECTION 3 -->
  <section class="grid">
    <div class="m-12 l-7 padding-2x background-aqua">
      <p class="text-strong text-size-80 text-white">03</p>

      <h2 class="text-size-50 text-line-height-1 text-white"><b>CABOTAGENS E BALDEAÇÕES</b></h2>

      <p>Considerando a necessidade de transportar cargas de produtos e insumos entre cidades, Estados e até países,
        surgem os modais de transporte, os quais poderão ser realizados via terrestre, aéreo ou pelo mar ou rios, e com
        o crescimento da tecnologia e informação, a questão da logística desponta cada vez mais, razão pela qual vale o
        estudo através do presente artigo, que utiliza o método indutivo, quanto a metodologia empregada.</p>

      <div class="s-12 padding-2x ">
        <a href="#bordagem" class="s-12 m-9   center button text-size-20 text-white background-red">BAIXAR DOCUMNETO DE
          NORMAS</a>
      </div>
    </div>

    <!-- Image  -->
    <img class="m-12 l-5" src="assets/img/servicos-03.jpg">
  </section>

  <!-- SECTION 6 -->
  <section class="grid margin-bottom">
    <div class="s-12 padding-2x background-dark">
      <a href="contact.html" class="s-12 m-9 l-3 center button text-size-20 text-white background-red">CONTACTA-NOS</a>
    </div>
  </section>
</main>

</div>