<div>
  
    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="background-image: url(assets/img/construction/showcase-2.webp)"
      >
        <div class="container position-relative">
          <h1>O Que Nos Move</h1>
          <p>
            Muito além de estruturas — somos guiados por valores, talentos e visão de futuro.
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="index.html">Home</a></li>
              <li class="current">Recursos </li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Project Details Section -->
      <section id="project-details" class="project-details section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-5">
              <div
                class="project-info"
                data-aos="fade-left"
                data-aos-delay="300"
              >
                <div class="project-meta">
                  <span class="category">Pessoas</span>
                </div>
                <h1 class="project-title">Alicerces do Futuro</h1>
                <p class="project-description">
                  Na CK-KINOQUENE, acreditamos que as pessoas são a base de tudo
                  o que construímos. São elas que dão vida às ideias, erguem
                  estruturas, garantem a qualidade dos serviços e representam os
                  valores que nos definem.
                </p>
                <p class="project-description">
                  Valorizamos cada profissional que faz parte da nossa equipa —
                  desde os engenheiros e técnicos até os gestores e
                  colaboradores operacionais. Investimos no desenvolvimento
                  humano e profissional, porque sabemos que um futuro sólido se
                  constrói com talento, dedicação e visão partilhada.
                </p>

                <h5>
                  Porque mais do que construir obras, construímos pessoas
                  preparadas para transformar Angola — hoje e amanhã.
                </h5>
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="project-hero"
                data-aos="zoom-out"
                data-aos-delay="200"
              >
                <img
                  src="assets/img/construction/project-3.jpg"
                  alt="Luxury Office Complex"
                  class="img-fluid"
                />
              </div>
            </div>
          </div> 
        </div>
      </section>

        <section id="project-details" class="project-details section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-7">
              <div
                class="project-hero"
                data-aos="zoom-out"
                data-aos-delay="200"
              >
                <img
                  src="assets/img/construction/project-7.png"
                  alt="Luxury Office Complex"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="col-lg-5">
              <div
                class="project-info"
                data-aos="fade-left"
                data-aos-delay="300"
              >
                <div class="project-meta">
                  <span class="category">Equipamentos</span>
                </div>
                <h1 class="project-title">Suportes da Inovação</h1>
                <p class="project-description">
                Na CK-KINOQUENE, os equipamentos representam um dos pilares da nossa capacidade de inovar e entregar qualidade. Investimos continuamente em tecnologia e ferramenta de ponta , garantindo produtividade, segurança e sustentabilidade nas operações. Com máquinas modernas, manutenção rigorosa e profissionais capacitados, asseguramos que cada projeto seja executado com precisão e eficiência.
                </p>
                 
                <h5>
                Porque inovação também se constrói com as ferramentas certas.
                </h5>
              </div>
            </div>
          </div> 
        </div>
      </section>


         <section id="project-details" class="project-details section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-5">
              <div
                class="project-info"
                data-aos="fade-left"
                data-aos-delay="300"
              >
                <div class="project-meta">
                  <span class="category">Industrial</span>
                </div>
                <h1 class="project-title">Fatores de Progresso</h1>
                <p class="project-description">
                O progresso é resultado de uma combinação de forças que se complementam: visão, estratégia, competência e ação. <br>
                Na CK-KINOQUENE, identificamos e fortalecemos esses fatores todos os dias, com o compromisso de impulsionar o desenvolvimento de Angola de forma sustentável e responsável.
                </p>
                <p class="project-description">
               Acreditamos que o verdadeiro progresso nasce da união entre pessoas preparadas, tecnologia de qualidade e processos eficientes. Por isso, trabalhamos com foco, inovação e espírito de superação.
                </p>

                <h5>
             Construir é ir além do presente. É transformar hoje com os olhos postos no amanhã.
                </h5>
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="project-hero"
                data-aos="zoom-out"
                data-aos-delay="200"
              >
                <img
                  src="assets/img/construction/project-5.webp"
                  alt="Luxury Office Complex"
                  class="img-fluid"
                />
              </div>
            </div>
          </div> 
        </div>
      </section>
      <!-- /Project Details Section -->
    </main>
</div>