<div>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>“A ambição nos guia rumo ao sucesso, mas é a persistência que nos leva até lá.”</h4> 
                            </div>
                        </div>
                    </div>
                         <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">

                                <h4>Contacte-nos</h4>

                                <div class="footer-pera">

                                    <p class="info1">Endereço: Centralidade do Kilamba,Quarteirão P, Edifício P18</p>

                                </div>

                            </div>

                            <div class="footer-number">

                                <p>Telefone: +244 939 155 752 </p>

                                <p>Email: geral@grupotodasil.com</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-md-4 col-sm-7">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Links rápidos</h4> 

                                <ul>
                                    <li><a href="#/">Home</a></li>
                  <li><a href="#/sobre">Sobre</a></li>
                  <li><a href="#/servicos">Serviços</a></li>
                  <li><a href="#/contato">Contato</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
              
             
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                                <p>© Copyright TODASIL 2025. Todos os direitos reservados.  |  Desenvolvido   <i
                                        class="fa fa-heart" aria-hidden="true"></i> Pela <a href="https://h-jlsystem.com/"
                                        target="_blank">JLSystem</a></p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right"> 
                                <a href="https://www.facebook.com/share/1HzL6d1iuA/?mibextid=wwXIfr"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/company/grupo-todasil/"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://youtube.com/@augusdasilva?si=t_9zhVQ22A9xMT27"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
     
  <!-- Botão do WhatsApp com efeito piscando -->
  <a href="https://wa.me/244939155752" class="whatsapp-button" target="_blank" title="Fale conosco no WhatsApp">
    <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/whatsapp.svg" alt="WhatsApp">
  </a>

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
</div>